@import '../../../styles.scss';

.align-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $grey;
    height: 300px;

    .title{
        font-family: $FontBold;
        color: $white;
        font-size: 32px;
        text-align: center;
    }

    .align-box-step{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: $FontBold;
        color: $white;

        .align-step{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .number-step{
                font-size: 48px;
                text-shadow: 3px 3px 0px $orange;
                padding-bottom: 8px;
            }

            .half-circle {
                width: 70px;
                height: 35px;
                border-bottom-left-radius: 40px;
                border-bottom-right-radius: 40px;
                border: 4px solid $orange;
                border-top: 0;
                box-sizing: border-box;
                margin-top: -35px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            .label-step{
                width: 160px;
                font-size: 24px;
                text-align: center;
            }
        }
    }

}

@media(max-width: 450px){

    .align-content{
        height: auto;
        flex-direction: column;
        padding: 16px 0px;
        text-align: center;

    }

    .align-box-step{
        flex-direction: column!important;
    }

}