<div class="align-content">
  <div class="container">
  <span class="title">Como funciona?</span>
    <div class="align-box-step">
      <div class="align-step">
        <span class="number-step">1</span>
        <div class="half-circle"></div>
        <span class="label-step">Cadastre-se</span>
      </div>
      <div class="align-step">
        <span class="number-step">2</span>
        <div class="half-circle"></div>
        <span class="label-step">Escolha o personal</span>
      </div>
      <div class="align-step">
        <span class="number-step">3</span>
        <div class="half-circle"></div>
        <span class="label-step">Inicie uma conversa</span>
      </div>
    </div>
  </div>
</div>