@import '../../../styles.scss';

.header-content{
    
    .width-image{
        width: 180px;
    }      

    .align-options{
        display: flex;
        flex-direction: row;
    }

    .label-header{
        font-family: $FontNormal;
        color: $grey;
        font-size: $FontSize;
        cursor: pointer;
    }
    
    .label-login{
        color: $orange;
    
        &:hover{
            color: $grey;
            font-weight: 700;
        }
    }

    .current-page{
        font-family: $FontBold;
        color: $grey;
        border-bottom: 2px solid $orange;
    }
}