<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light header-content">
    <div class="container-fluid">
      <img src={{imageLogo}} alt="Logo Anyplace Fit" class="width-image" />
      <button (click)="toggleDropDown()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-around" id="navbarNavDropdown" style="max-width: 500px;">
        <ul class="navbar-nav align-items-center" *ngFor="let step of steps; index as i" (click)="goTo(step.route)">
          <li *ngIf="showDropDown" class="nav-item">
            <a class="nav-link" aria-current="page"><span class="label-header"
                [ngClass]="{'label-login': step.id == 3, 'current-page' : step.current}">{{step.label}}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>