@import '../../styles.scss';

*{
    outline: none;
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.align-background-img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    img{
        width: 30vw;
        overflow: hidden;
    }

}

.box-login{
    display: flex;
    align-items: center;

}

.items-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $white;
    width: 488px;
    height: 455px;
    border-radius: 16px;
    box-shadow: 1px 0px 15px -2px rgb(0 0 0 / 25%);
}

.items-register{
    width: 588px!important;
    height: 555px!important;
    position: relative;
}

.logo-image{
    display: flex;
    justify-content: center;
    margin: 32px 0px;
    img{
        width: 300px;
    }
}

.inputs{
    display: flex;
    flex-direction: column;  
    margin: 32px 0px;
}

.input-style{
    width: 350px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid $light-gray;
    margin: 8px 0px;
    
    &::placeholder{
        color: $light-gray;
        padding-left: 4px;
    }

    &:hover, &:active, &:focus{
        border-color: $orange;
    }

}

.btn-login{
    input{
        width: 350px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid $light-gray;
        margin: 8px 0px;
        background-color: $orange;
        color: $white;
        font-family: $FontBold;
    }
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.txt-register{
    font-family: $FontLight;
    font-size: 12px;
    text-align: center;

    .destaque{
        font-family: $FontBold;
        color: $orange;
        cursor: pointer;
    }
}

.msg-error{
    text-align: center;
    height: 16px;
    font-family: $FontLight;
    color: $red;
}

.invalid{
    border-color: $red!important;
}

.box-register{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 590px;
}

.input-short{
    width: 250px!important;
}

.align-child{
    display: flex;
    flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-password{
    display: flex; 
    flex-direction: row;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    margin: 8px 0px;
    
    .input{
        margin: -1px!important;
        border-right: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    img{
        margin-right: 8px;
    }
}

.box-error-registration{
    display: flex;
    justify-content: center;
    
    .label-error{
        color: $red;
        font-size: 16px;
        position: absolute;
    }
}

.opacity{
    opacity: 0.5;
}


