<anyplace-header></anyplace-header>

<div class="container">
  <div class="content">
    <div class="align-background-img">
      <img src="../../assets/Images/bike_personal.png">
    </div>
    <div class="box-login">
      <div class="items-login" [ngClass]="{'items-register' : registerUser }">
        <div class="logo-image">
          <img src="../../assets/Images/logo_AnyPlaceFit.svg">
        </div>
        <form *ngIf="!registerUser" [formGroup]="loginForm" (ngSubmit)="submit()" class="inputs">
          <input formControlName="email" class="input-style" type="email" name="email" placeholder="E-mail" autofocus
            [ngClass]="{'invalid' :  msgErrorEmail != ''}">
          <input formControlName="senha" class="input-style" type="password" placeholder="Senha"
            [ngClass]="{'invalid' :  msgErrorSenha != ''}">
          <span class="msg-error">{{msgErrorEmail}}</span>
          <span class="msg-error">{{msgErrorSenha}}</span>
        </form>

        <form *ngIf="registerUser" [formGroup]="registerForm" (ngSubmit)="submit()" class="inputs">
          <div class="box-register">

            <div class="align-child">
              <input autofocus formControlName="nome" class="input-style input-short" type="text" placeholder="Nome" (blur)="valid('nome')" [ngClass]="{'invalid' : validFormRegister[0].invalid}">
              <input formControlName="sobrenome" class="input-style input-short" type="text" placeholder="Sobrenome" (blur)="valid('sobrenome')" [ngClass]="{'invalid' : validFormRegister[5].invalid}">
              <input formControlName="cpf" class="input-style input-short" type="text" placeholder="CPF" (keypress)="maskCPF($event)" [(ngModel)]="cpfValue" maxlength="14" (blur)="valid('cpf')" [ngClass]="{'invalid' : validFormRegister[1].invalid}">
              <input formControlName="email" class="input-style input-short" type="text" placeholder="E-mail" (blur)="valid('email')" [ngClass]="{'invalid' : validFormRegister[2].invalid}">
              <input formControlName="confirmEmail" class="input-style input-short" type="text" placeholder="Confirma e-mail" (blur)="valid('confirmEmail')" [ngClass]="{'invalid' : validFormRegister[1].invalid}">
            </div>
            <div class="align-child" style="position: relative;">
              <input formControlName="sexo" class="input-style input-short" type="text" placeholder="Sexo ( H - Homem | M - Mulher )" (blur)="valid('sexo')" [ngClass]="{'invalid' : validFormRegister[6].invalid}">
              <input formControlName="cep" class="input-style input-short" type="text" placeholder="CEP" (keypress)="maskCEP($event)" [(ngModel)]="cepValue" maxlength="9" (blur)="valid('cep')" [ngClass]="{'invalid' : validFormRegister[3].invalid}">
              <input formControlName="numero" class="input-style input-short" type="text" placeholder="Numero residencial" (blur)="valid('numero')" [ngClass]="{'invalid' : validFormRegister[8].invalid}">
              <div class="input-style input-password" [ngClass]="{'invalid' : validFormRegister[4].invalid}">
                <input formControlName="password" class="input-style input-short input" [type]="hiddenPassword ? 'password' : 'text'" placeholder="Senha (mínimo 5 caracteres)" (blur)="valid('password')" [ngClass]="{'invalid' : validFormRegister[4].invalid}">
                <img src={{iconPassword}} (click)="changeTypeInput()" width="22px">
              </div>
              <div class="input-style input-password" [ngClass]="{'invalid' : validFormRegister[9].invalid}">
                <input formControlName="confirmPassword" class="input-style input-short input" [type]="hiddenPasswordRecover ? 'password' : 'text'" placeholder="Confirma senha (minimo 5 caracteres)" (blur)="valid('confirmPassword')" [ngClass]="{'invalid' : validFormRegister[9].invalid}">
                <img src={{iconPasswordRecover}} (click)="changeTypeInput(true)" width="22px">
              </div>
            </div>

          </div>
          <div *ngIf="showMsgError" class="box-error-registration">
              <span class="label-error">Por favor preencha todos os campos corretamente.</span>
              <span class="label-error" *ngIf="notSamePassword" style="margin-top: 16px;">As senhas não conferem.</span>
              <span class="label-error" *ngIf="notSameEmail" style="margin-top: 32px;">Os e-mails não conferem.</span>
            </div>  
          </form>
          <div class="btn-login">
          <input type="submit" id="login" [value]="registerUser ? 'Cadastrar' : 'Acessar'" (click)="submit()" [disabled]="disableButtomSubmit" [ngClass]="{'opacity': registerUser && disableButtomSubmit}">
          <span *ngIf="!registerUser" class="txt-register">Não possui conta? <span class="destaque" (click)="changeLogin()">Clique aqui</span> para se cadastrar</span>
          <span *ngIf="registerUser" class="txt-register">Possui conta? <span class="destaque" (click)="changeLogin()">Clique aqui</span> para se logar</span>
        </div>
      </div>
    </div>
    <div class="align-background-img rg-img">
      <img src="../../assets/Images/cellphone.png">
    </div>
  </div>
</div>