@import '../../styles.scss';

.align-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;
    background-image: url("../../assets/Images/banner_homePage.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    
    .items-align{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .text-style-banner{
        align-self: center;
        color: $grey;
        font-size: $FontSize;
        font-family: $FontBold;
        text-align: left;
    }
}

.sub-banner-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    height: 50px;
    
    .text-sub{
        color: $white;
        font-family: $FontLight;
        font-size: 20px;
    }

}

.color-orange{
    font-family: $FontBold;
    color: $orange!important;
    cursor: pointer;
}

@media(max-width: 450px){

    .align-content{
        height: 200px;
    }

    .text-sub{
        font-size: 12px!important;
        text-align: center!important;
    }

    .text-style-banner{
        font-size: 22px;
        align-self: auto!important;
    }
}
