<div class="container">
  <div class="align-content">
    <div class="items-align">
      <span class="text-style-banner">Encontre os melhores<br />personal trainers<br />para a sua rotina.</span>
    </div>
  </div>
</div>
  <div class="sub-banner-cadastro">
    <span class="text-sub"><span class="color-orange">cadastre-se</span> agora nas modalidades que deseja
      praticar.</span>
  </div>