@import '../../styles.scss';

.align-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;

    .title{
        font-family: $FontLight;
        color: $black;
        font-size: 32px;
        text-align: center;
    }

    .align-section{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 0px;

            .text{
                margin-left: 32px;
                font-family: $FontBold;
                font-size: 32px;
                color:$grey;
            }
    }
}

.bg-solid{
    width: 100%;
    height: 10px;
    color: red;
    background-color: red;
}