<anyplace-header></anyplace-header>
<anyplace-banner></anyplace-banner>
<main-content></main-content>
<steps-register></steps-register>
<personal-box></personal-box>
<anyplace-footer></anyplace-footer>