@import '../../styles.scss';

.align-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;

    .title{
        font-family: $FontLight;
        color: $black;
        font-size: 32px;
        text-align: center;
    }

    .align-section{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 0px;
            .text{
                margin-left: 32px;
                font-family: $FontBold;
                font-size: 32px;
                color:$grey;
            }
    }

    .align-section-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 32px 0px;
    }

}

.text-mobile{
    font-family: MontserrattBold;
    font-size: 16px;
    color: #2F2E41;
    text-align: left;
}

.right{
    text-align: right!important;
}

.bg-solid{
    width: 100%;
    height: 10px;
    color: red;
    background-color: red;
}

@media(max-width: 450px){
    .align-content{
        .align-section{
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
    }

    .title{
        font-size: 24px!important;
    }
}