<div class="container">
    <div class="align-content">
        <span class="title">Chegamos para descomplicar a sua vida e incentivar as boas práticas no esporte.</span>
        <div *ngIf="!isMobile">
            <div class="align-section">
                <img src={{imgSportsType}} width="40%">
                <span class="text">Acompanhe seu <br />desempenho, diretamente<br /> com quem entende.</span>
            </div>
            <div class="align-section">
                <span class="text">Crie metas para seus <br />objetivos e encontre o seu <br />perfil ideal.</span>
                <img src={{imgRunner}} width="40%">
            </div>
            <div class="align-section">
                <img src={{imgRunnerCellphone}} width="40%">
                <span class="text">Receba notificações e <br />converse com o profissional <br />de forma direta.</span>
            </div>
        </div>

        <div *ngIf="isMobile">
            <div class="align-section-mobile">
                <span class="text-mobile">Acompanhe seu desempenho, diretamente com quem entende.</span>
                <img src={{imgSportsType}} width="40%">
            </div>
            <div class="align-section-mobile">
                <img src={{imgRunner}} width="40%">
                <span class="text-mobile right">Crie metas para seus objetivos e encontre o seu perfil ideal.</span>
            </div>
            <div class="align-section-mobile">
                <span class="text-mobile">Receba notificações e converse com o profissional de forma direta.</span>
                <img src={{imgRunnerCellphone}} width="40%">
            </div>
        </div>
    </div>
</div>

