<div class="container">
  <div class="align-content">
    <div *ngFor="let data of dataPersonals" class="align-cards">
      <div class="card-style">
        <div class="bg-image">
          <img src={{data.img}} width="110%">
        </div>
        <div class="infs-personal">
          <span class="name">{{data.name}}</span>
          <span class="job">{{data.job}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
