@import '../../../styles.scss';

.align-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    flex-wrap: wrap;
    padding: 16px 0px;
}

.align-cards{
    display: flex;
    flex-direction: row;
}

.card-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bg-image{
        width: 210px;
        height: 135px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 80px;
        border-top-left-radius: 80px;
        border-top-right-radius: 10px;
        box-sizing: border-box;
        overflow: hidden;
        background-color: #FF9900;
        box-shadow: 1px 5px 1px 1px #ff9900;
    }

    .infs-personal{
        padding: 8px 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: -40px;

        .name{
            text-align: center;
            font-family: $FontBold;
            font-size: 20px;
            color: $grey;
        }
        
        .job{
            font-family: $FontNormal;
            color: $orange;
            font-size: 16px;
        }
    }
}

@media(max-width: 450px){
    .align-content{ 
        flex-direction: column;
    }

    .align-cards{
        padding: 8px 0px;
    }
}

