<div class="w-100 d-flex flex-row align-items-center justify-content-center mb-5">
  <div style="position: relative;">
    <div class="input-style" (click)="openDropdown()">
      <span class="label-dropdown">{{placeholderDropDown}}</span>
      <img src="../../../assets/Images/iconDropdown.png" width="5%" [ngClass]="{up : open, down : !open}">
    </div>
    <div *ngIf="open" class="div-items-dropdown">
      <span class="label-item-dropdrown" *ngFor="let modal of modalidades"
        (click)="setModalidade(modal)">{{modal}}</span>
    </div>
  </div>
  <input type="text" class="input-style" placeholder="Buscar por nome" (keyup)="getPersonalByName($event)"
    [(ngModel)]="name" maxlength="50" style="margin: 0px 24px;">
  <button class="input-style" style="max-width: 200px; background-color: #FF9900; color: #FFF;"
    (click)="clearFilters()">
    Limpar filtros
  </button>
</div>

<div *ngIf="editData" class="align-cards" style="position: relative; min-height: 50vh;">
  <div *ngFor="let personal of editData">
    <div class="card" (click)="openModal(content, personal)">
      <div style="height: 70%;">
        <img src={{personal.photo}} width="105%" height="105%">
      </div>
      <div class="box-infs">
        <div class="align-infs">
          <span class="name">{{personal.name}}</span>
          <div class="infs">
            <div class="div-infs">
              <img src="../../../assets/Images/iconWork.svg" alt="">
              <span class="label-ifns">{{personal.area}}</span>
            </div>
            <div class="div-infs">
              <img src="../../../assets/Images/iconLocation.svg" alt="">
              <span class="label-ifns">{{personal.location}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span *ngIf="editData.length == 0" class="label-error">Nenhum resultado encontrado.</span>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" (click)="getDismissReason(content)" style="cursor: pointer; justify-content: flex-end;">
    X
  </div>
  <div class="modal-body">
    <div class="w-100 d-flex flex-row justify-content-center align-items-center">
      <img src="{{modalInfs.photo}}" width="204" height="207" class="img-personal">
      <div class="d-flex flex-column align-items-center ml-5">
        <div class="ml5 pl-5" class="w-100">
          <div class="d-flex flex-column" style="position: relative">
            <span class="name-personal">{{modalInfs.name}}</span>
            <span class="muteded d-flex justify-content-end" class="modalidade-persoanal">{{modalInfs.area}}</span>
            <img src="../.../../../../assets/Images/iconVerify.png" class="icon-verify">
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 d-flex flex-row justify-content-center ml-5">
      <div class="text-description">
        <span>{{modalInfs.text}}</span>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-around">
      <div class="d-flex flex-column justify-content-around">
        <span class="pt-3 inf">Idade: <span class="label-inf">20 anos</span></span>
        <span class="py-1 inf">Localização: <span class="label-inf">{{modalInfs.location}}</span></span>
        <span class="inf">Sexo: <span class="label-inf">{{modalInfs.sexo}}</span></span>
      </div>
      <div class="d-flex flex-column justify-content-around">
        <div class="d-flex flex-row pt-3 align-items-center">
          <img src="../.../../../../assets/Images/iconEmail.png" style="margin-right: 8px;" width="22px" height="20px">
          <span class="label-inf">{{modalInfs.email}}</span>
        </div>
        <div class="d-flex flex-row py-2 align-items-center" (click)="openWhatsApp(modalInfs.number)" style="cursor: pointer;">
          <img src="../.../../../../assets/Images/iconZap.png" style="margin-right: 8px;" width="24px" height="24px">
          <span class="label-inf">{{modalInfs.number}}</span>
        </div>
        <div class="d-flex flex-row align-items-center">
          <img src="../.../../../../assets/Images/iconTel.png" style="margin-right: 8px;" width="24px" height="24px">
          <span class="label-inf">{{modalInfs.number}}</span>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-around py-5 w-100">
      <button class="btn-cancel" (click)="getDismissReason(content)">Fechar</button>
      <button class="btn-submit" (click)="openWhatsApp(modalInfs.number)">Entrar em contato</button>
    </div>
  </div>
</ng-template>
