@import '../../../styles.scss';

*{
    font-family: $FontBold;
}

.align-cards{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-around;
}


.card{
    width: 300px; 
    height: 350px; 
    border-radius: 8px;
    border: 1px solid #FF9900; 
    overflow: hidden;
    margin: 16px;
    cursor: pointer;
    
    &:hover{
        -webkit-box-shadow: 0px 0px 17px -1px rgba(255,153,0,0.5); 
        box-shadow: 0px 0px 17px -1px rgba(255,153,0,0.5);
        width: 320px; 
        height: 370px; 
        margin: 4px 6px;
    }
}

.box-infs{
    height: 30%;    
    background-color: #2F2E41;
    font-family: $FontBold;

    .align-infs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 4px;

        .name{
            font-size: 18px;
            font-weight: bold;
            color: #FFF;
        }

        .infs{
            width: 100%;
            justify-content: flex-start;
            padding-left: 8px;
        }

        .div-infs{
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding-top: 4px;

            .label-ifns{
                font-size: 18px; 
                font-weight: bold; 
                color: #FF9900; 
                padding-left: 8px;
            }
        }
    }
}

.input-style{
    width: 350px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid $orange;
    margin: 8px 0px;
    display: flex;
    justify-content: space-around;
    padding-left: 16px;
    align-items: center;
    background-color: transparent;
    outline: none;
}

.up{
    transform: rotate(180deg)
}

.down{
    transform: rotate(0deg)
}

.label-dropdown{
    font-family: $FontLight;
    font-size: 16px;
}

.div-items-dropdown{
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    border-radius: 8px;
    border: 1px solid $orange;
    margin: 8px 0px;
    overflow: hidden;
}

.label-item-dropdrown{
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 4px 0px;
    background-color: $light-gray;
    color: #000;

    &:hover{
        -webkit-box-shadow: 0px 0px 17px -1px rgba(255,153,0,0.5); 
        box-shadow: 0px 0px 17px -1px rgba(255,153,0,0.5);
    }
}

.label-error{
    font-size: 48px;
    font-family: $FontLight;
    opacity: 0.5;
}

.img-personal{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    margin-right: 42px;
    border-radius: 100%; 
    border: 1px solid #FF9900;
}

.name-personal{
    font-size: 42px;
    color: $grey;
}

.modalidade-persoanal{
    font-size: 24px; 
    margin-top: -16px;
    text-align: end;
    font-family: $FontLight;
}

.icon-verify{
    bottom: 60px; 
    position: absolute; 
    right: -5%;
}

.text-description{
    width: 85%; 
    height: 110px; 
    border: 1px solid #FF9900; 
    margin-left: 20px; 
    padding: 4px; 
    margin-top: 8px; 
    border-radius: 8px;
    word-wrap: break-word;
    font-size: 14px;
    font-family: $FontNormal;
}

.inf{
    font-family: $FontBold;
    font-size: 16px;
}

.label-inf{
    font-size: 16px;
    font-family: $FontNormal;
}

.btn-cancel{
    width: 140px; 
    height: 40px; 
    border-radius: 8px; 
    border: 1px solid #FF9900; 
    outline: none; 
    background-color: #FFF; 
    color: #FF9900;

    &:hover{
        -webkit-box-shadow: 0px 0px 17px -1px rgba(255,153,0,0.5); 
        box-shadow: 0px 0px 17px -1px rgba(255,153,0,0.5);
    }
}

.btn-submit{
    width: 170px; 
    height: 40px; 
    border-radius: 8px; 
    border: 1px solid #FF9900; 
    outline: none; 
    background-color: #FF9900; 
    color: #FFF;

    &:hover{
        -webkit-box-shadow: 0px 0px 17px -1px rgba(255,153,0,0.5); 
        box-shadow: 0px 0px 17px -1px rgba(255,153,0,0.5);
    }
}