@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

@font-face {
    font-family: MontserrattBold;
    src: url(./assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: MontserrattNormal;
    src: url(./assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: MontserratLight;
    src: url(./assets/fonts/Montserrat-Light.ttf);
}

//colors text
$grey: #2F2E41;
$orange: #FF9900;
$white: #FFFFFF;
$black: #18171C;
$light-gray: #E0E0E0;
$red: #de0d0d;

//fonts
$FontBold: MontserrattBold; 
$FontNormal: MontserrattNormal;
$FontLight: MontserratLight;

$FontSize: 22px;

body{
    background-color: #E5E5E5;
}

