<anyplace-header></anyplace-header>
<div class="container">
    <div class="d-flex flex-column align-items-start my-5">
        <span class="welcome-msg">{{welcomeMsg}}</span>
        <span class="sub-msg" style="max-width: 640px;" >A <span class="destaque">AnyPlace Fit</span> é o melhor local para você encontrar o
            personal trainer que melhor se adequa a sua vontade.</span>
    </div>
    <cards-personal></cards-personal>
</div>


<anyplace-footer></anyplace-footer>