@import '../../../styles.scss';

.welcome-msg{
    font-family: $FontBold;
    font-size: 42px; 
    font-weight: bold; 
    color: #3F3D56;
}

.sub-msg{
    font-family: $FontNormal;
    font-size: 21px;
    color: #000; 
    max-width: 61   0px;
}

.destaque{
    font-family: $FontNormal;
    font-size: 21px;
    color: #000; 
    color: #FF9900
}

.input-style{
    width: 350px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid $orange;
    margin: 8px 0px;
    display: flex;
    justify-content: space-around;
    padding-left: 16px;
    align-items: center;
}

.up{
    transform: rotate(180deg)
}

.down{
    transform: rotate(0deg)
}

.label-dropdown{
    font-family: $FontLight;
    font-size: 16px;
}

.div-items-dropdown{
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    border-radius: 8px;
    border: 1px solid $orange;
    margin: 8px 0px;
    overflow: hidden;
}

.label-item-dropdrown{
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 4px 0px;
    background-color: $light-gray;
    color: #000;

    &:hover{
        background-color: #d2d2d2;
    }
}