@import '../../../styles.scss';

.bg-color{    
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $grey;
}

.align-img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0px;
}

.align-texts{
    .align-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .align-section{
        display: flex;
        flex-direction: column;

        .left{
            align-items: flex-start;
        }

        .center{
            align-items: center;
        }

        .right{
            align-items: flex-end;
        }
    }
}

.label-footer{
    font-size: 18px;
    color: $white;
    font-family: $FontLight;
    margin-bottom: 8px;
    cursor: pointer;
    
    &::after{
        display:block;
        content: '';
        border-bottom: solid 1px $orange;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
    }

    &:hover::after{
        transform: scaleX(1); 
    }
}

.label-dev{
    font-size: 16px;
    color: $white;
    font-family: $FontLight;
    margin-bottom: 8px;
    opacity: 0.7;
}


@media(max-width: 450px){

    .bg-color{
        height: auto;
    }

    .align-texts{
        .align-content{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .align-section{
            align-items: center!important;
        }
    }

    .align-img{
        padding: 16px 0px;
        align-items: center;
    }

}