<div class="bg-color">
    <div class="container">
        <div class="align-img">
            <img src={{imageLogo}} alt="Logo Anyplace Fit" width="150px"/>
        </div>
        <div class="align-texts">
            <div class="align-content">
                <div class="align-section left">
                    <span class="label-footer">Nossa Historia</span>
                    <span class="label-footer">Contato</span>
                </div>
                <div class="align-section center">
                    <span class="label-footer">Apoie o projeto</span>
                    <span class="label-footer">Trabalhe conosco</span>
                </div>
                <div class="align-section right">
                    <span class="label-footer">Cadastre-se</span>
                    <span class="label-footer">Acessar Plataforma</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <span class="label-dev">Feito com <img src={{iconHeart}}/> em São Paulo.</span>
    </div>
</div>